body {
    font-family: sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.header-menu {
    margin: 0 auto;
    text-align: center;
}

.header-menu-list {
    display: inline-block;
    padding: 32px 72px 32px 72px;
}

.header-menu-link {
    text-decoration: none;
    color: black;
}

.main-image {
    background-color: #00BDC9;
    text-align: center;
    height: 552px;
}

.img {
    margin-top: 92px;
    margin-bottom: 92px;
}

.content-div {
    text-align: center;
    margin-left: 272px;
    margin-right: 272px;
}

.content-head {
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    text-align: center;
    padding-top: 88px;
}

.content-paragraph {
    font-size: 21px;
    font-weight: 500;
    line-height: 31.5px;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 24px;
}

.content-list {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
}

.content-button {
    width: 97px;
    border: none;
    color: white;
    background-color: #00BDC9;
    margin-top: 40px;
    margin-bottom: 88px;
    padding: 15px;
}

.footer {
    text-align: center;
}